/* 

Code studied from the IAT 339 Flexbox Tutorial
"https://www.youtube.com/watch?v=Xff_eGOU_Ls&feature=youtu.be"

*/

*, *::after, *::before{
	box-sizing: border-box;
}
button{
	font:inherit;
	margin:0;
}
.font_type1{
	font-family: 'Noto Serif', 'Open Sans', 'sans-serif';
	font-size: 1.2rem;
}
.font_type2{
	font-family: 'Raleway', 'Open Sans', 'sans-serif';
	font-size: 1rem;
}
.font_type3{
	font-family: 'Source Sans Pro', 'Open Sans', 'sans-serif';
	font-size: 1rem;
}
.swatch_color1{
	background-color: rgb(234, 231, 220);
}
.swatch_color2{
	background-color: rgb(216, 195, 165);
}
.swatch_color3{
	background-color: rgb(142, 141, 138);
}
.swatch_color4{
	background-color: rgb(233, 128, 116);
}
.swatch_color5{
	background-color: rgb(232, 90, 79);
}
.icon_styling{
	 width:50px;
	 height:50px;
}
.image_styling{
	width:100%;	
	height: auto;
}
.image_sample_styling{
	max-width: 250px;
	height: auto;
}
.logo_styling{
	max-width:10rem;
	flex:1 1 auto;
}
/* flexbox layout code studied from Flexbox Tutorial by LearnWebCode
	"https://www.youtube.com/watch?v=k32voqQhODc"
*/
.center-text{
	text-align: center;;
}
.sidebar-layout{
	max-width: 100%;
	background-color: #FFF;
	margin: 0 auto 0 auto;
	line-height: 1.65;
	padding:0px 50px;
	display: flex;
	justify-content: space-between;

}
.add_to_cart_button{
	background-color: white;
	font-weight: 400;
	text-align: center;
	padding:1rem 0;
	width:50%;
	border:0.5px solid orange;
}
.submit_button{
	text-rendering: auto;
	letter-spacing: normal;
	text-align: center;
}
.reset_button{
	text-rendering: auto;
	letter-spacing: normal;
	text-align: center;
}
/* -------------------------------------- */
/* flexbox code for Product page */
.section-layout{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}
.section-one{
	flex:1 1 25rem;
	margin: auto 50px 20px 50px;
	padding:20px 50px;
}
.section-two{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-three{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-four{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-five{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-six{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
/* -------------------------------------- */
.codeExplanation{
	text-align:center;
	margin: 20px auto 20px auto;
}

.frameworkSize{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:80%;
	height:40%
}
.product button:hover{
	opacity:0.7;
}

/* -------------------------------------- */
@media(max-width: 30em){
	.container-box{
	width:100%;	
	}
}
@media(min-width: 30em){
	.container-box{
	width:20%;	
	}
}

