/* 

Code studied from the IAT 339 Flexbox Tutorial
"https://www.youtube.com/watch?v=Xff_eGOU_Ls&feature=youtu.be"

*/

*, *::after, *::before{
	box-sizing: border-box;
}
html{
	margin:0 10%;
}
pre{
	tab-size:2;
	white-space: pre-wrap;
}
.div_coantainer_color{
	background-color: rgb(219, 222, 191);
}
.heading_layout{
	padding-bottom: 0.5rem;
	border-bottom: 0.5px solid black;
	color:#orange;
}
.div_main{
	margin:0 2rem 0 2rem;
	padding-bottom: 1rem;
	border-bottom: 0.5px solid black);
}
.div_heading{
	color:orange;
}
.div_preview{
	margin:1rem 1rem 1rem 1rem;
}
.div_container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;

	flex:1 1 15rem;
}
.home_nav_background{
	background-color: gray;
}
.home_nav_container{
	background-color: #EAE7DC;
	left:50%;
	display:inline-block;
	position: absolute;
	transform: translateX(-50%);
	border-radius: 50px;
}
.home_nav_container ul{
	margin:0;
	padding:0 60px;
	list-style-type: none;
	position: relative;
	display: flex;
	flex:1 1 auto;
}
.home_nav_container ul li:not(last-child){
	margin-right: 100px;
}
.home_nav_container ul li{
	padding:10px;
	border: 1px solid transparent;
	transition:background 0.2s;
	border-radius: 5px;
}
..home_nav_container ul li a{
	color:#fff;
	text-transform: capitalize;
	text-decoration: none;
	transition: color 0.2s;
}
.home_nav_container ul li ul{
	background-color: #EAE7DC;
	position: absolute;
	border-radius: 5px;
	display: block;
	margin:12px -12px;
	padding:0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}
.home_nav_container ul li ul li{
	width:calc(100% - 20px);
	margin: -2px 0 0 -2px;
	line-height: 1.2;
}
.home_nav_container ul li ul li a{
	background:#EAE7DC;
}
.home_nav_container ul li:hover a{
	color: #fff;
}
.home_nav_container ul li:hover ul{
	box-shadow: 0px 3px 5px 2px #EAE7DC;
	visibility: visible;
	opacity: 1;
}
.home_nav_container ul li:hover ul li a{
	color: #fff;
}


/* This css code is studied from Kevin Powell
"https://www.youtube.com/watch?v=FEmysQARWFU"
*/
header::after{
	content:'';
	display: table;
	clear:both;
}
.code_sample{
	tab-size:2;
}
.list_style{
	list-style: none;
}
.swatch-block{
	flex:1 1 15rem;
}
.list-swatch{
	padding:0 0;
	border:1px solid black;
	margin:1rem;
}
.swatch_preview{
	height:3rem;
	max-width: 100%;
}
.swatch_detail{
	list-style: none;
	font-size: 1rem;
	padding: 0 0 0 0.5rem;
}
.button_preview{
	margin:2rem 0;
}
.button_styling{
	color:black;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.field_preview{
	margin:2rem 0;
}
.grid_layout{
	flex:0 0 auto;
}
.grid_preview{
	height:10rem;
	background-color: rgb(234, 231, 220);
	border: 1px solid black;
	min-width: 15rem;
	margin-bottom: 2rem;
}
