/* 

Code studied from the IAT 339 Flexbox Tutorial
"https://www.youtube.com/watch?v=Xff_eGOU_Ls&feature=youtu.be"

*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { 
    margin: 0; padding: 0; 
}

*, *::after, *::before{
	box-sizing: border-box;
	background: #ffffe6;
}
pre{
	tab-size:2;
	white-space: pre-wrap;
}
button{
	font:inherit;
	margin:0;
}
header::after{
	content:'';
	display: table;
	clear:both;
}
div{
	display: block;
}
.body_Style{
    margin:0 10%;
}
.map_responsive{
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.map_responsive iframe{
	left: 0;
	top: 0;
	height: 100%;
	width:100%;
	position: absolute;
}
.topNav{
	background-color: white;
	overflow:hidden;
	float:right;
	color:black;
	text-decoration: none;
	font-size: 1.2rem;
	font-family: "Raleway",sans-serif;
	margin-top: 2rem;
}
.bottomNav{
	background-color: #F06060;
	left:0;
	bottom: 0;
	width: 100%;
	color:black;
	text-align: center;

	flex-shrink: 0;
	margin-top: auto;
}
.div_coantainer_color{
	background-color: rgb(219, 222, 191);
}
.heading_layout{
	padding-bottom: 0.5rem;
	border-bottom: 0.5px solid black;
	color:#orange;
}
.div_main{
	margin:0 2rem 0 2rem;
	padding-bottom: 1rem;
	border-bottom: 0.5px solid black);
}
.div_heading{
	color:orange;
}
.div_preview{
	margin:1rem 1rem 1rem 1rem;
}
.div_container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;

	flex:1 1 15rem;
}
.main_container{
	max-width: 1400px;
	margin:40px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: flex-start;
}
.main_box{
	flex: 1;
}
.main_manu_box{
	width:25%;
}
.main_box_img1{
	padding-top: 4rem;
	padding-left: 13rem;
}
.main_box_img2{
	padding-top: 4rem;
	padding-left: 8rem;
}
.main_store_box{
	width:33%;
	height:auto;
}
.main_box_aboutUs1{
	flex:3;
	margin-right: 2rem;
}
.main_box_aboutUs2{
	margin-top: 4rem;
	margin-left: 2rem;
	flex:1;
}
.main_container_contact{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}
.main_container_contact p{
	margin-top: 1rem;
}
.main_box_contact{
	flex:1;
}
.main_icon{
	cursor:pointer;
}

/* Codes for the text box style 1 */
.form_container{
	text-align: center;
	margin:0 20%;
}
.form_row{
	padding-bottom: 2rem;
	display:flex;
	min-height: 5rem;
}
.form_row label{

}
.form_row input{
	flex:1;
}
.form_input{
	height:20rem;
}

/* Codes for the text box sample 2 */

.exampletag{
	margin-left: 40px;
	font-family: 'Noto Serif', sans-serif,Serif !important;
	display: block;
	text-align: -webkit-match-parent;
	list-style-type: circle;
}
#contactpage{
	overflow: hidden;
	display: table;
	/*list-style-type: circle;*/
}
#contactpage p{
  display: table-row;
}
#contactpage label {
    display: table-cell;
    margin-top:12px;
    font-size: 1.15em;
    color: #333333;
    font-weight: normal;
    line-height: 1.2;
    }
#contactpage input ,
#contactpage textarea{
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    background: #fffff5;
    font-size: 1.1em;
    line-height: 1.4;
    padding: 6px;
    width: 70%;
}
#contactpage textarea {
  display: blobk;
}


/* css for the home page navagation bar */
.home_nav_background{
	background-color: gray;
}
.home_nav_container{
	background-color: #EAE7DC;
	left:50%;
	display:inline-block;
	position: absolute;
	transform: translateX(-50%);
	border-radius: 50px;
}
.home_nav_container ul{
	margin:0;
	padding:0 60px;
	list-style-type: none;
	position: relative;
	display: flex;
	flex:1 1 auto;
}
.home_nav_container ul li:not(last-child){
	margin-right: 100px;
}
.home_nav_container ul li{
	padding:10px;
	border: 1px solid transparent;
	transition:background 0.2s;
	border-radius: 5px;
}
..home_nav_container ul li a{
	color:#fff;
	text-transform: capitalize;
	text-decoration: none;
	transition: color 0.2s;
}
.home_nav_container ul li ul{
	background-color: #EAE7DC;
	position: absolute;
	border-radius: 5px;
	display: block;
	margin:12px -12px;
	padding:0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}
.home_nav_container ul li ul li{
	width:calc(100% - 20px);
	margin: -2px 0 0 -2px;
	line-height: 1.2;
}
.home_nav_container ul li ul li a{
	background:#EAE7DC;
}
.home_nav_container ul li:hover a{
	color: #fff;
}
.home_nav_container ul li:hover ul{
	box-shadow: 0px 3px 5px 2px #EAE7DC;
	visibility: visible;
	opacity: 1;
}
.home_nav_container ul li:hover ul li a{
	color: #fff;
}


/* This css code is studied from Kevin Powell
"https://www.youtube.com/watch?v=FEmysQARWFU"
*/

.code_sample{
	tab-size:2;
}
.list_style{
	list-style: none;
}
.swatch-block{
	flex:1 1 15rem;
}
.list-swatch{
	padding:0 0;
	border:1px solid black;
	margin:1rem;
}
.swatch_preview{
	height:3rem;
	max-width: 100%;
}
.swatch_detail{
	list-style: none;
	font-size: 1rem;
	padding: 0 0 0 0.5rem;
}
.button_preview{
	margin:2rem 0;
}
.button_styling{
	color:black;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.field_preview{
	margin:2rem 0;
}
.grid_layout{
	flex:0 0 auto;
}
.grid_preview{
	height:10rem;
	background-color: rgb(234, 231, 220);
	border: 1px solid black;
	min-width: 15rem;
	margin-bottom: 2rem;
}

/* 

Code studied from the IAT 339 Flexbox Tutorial
"https://www.youtube.com/watch?v=Xff_eGOU_Ls&feature=youtu.be"

*/

.font_type1{
	font-family: 'Noto Serif', 'Open Sans', 'sans-serif';
	font-size: 1.2rem;
}
.font_type2{
	font-family: 'Raleway', 'Open Sans', 'sans-serif';
	font-size: 1rem;
}
.font_type3{
	font-family: 'Source Sans Pro', 'Open Sans', 'sans-serif';
	font-size: 1rem;
}
.swatch_color1{
	background-color: rgb(234, 231, 220);
}
.swatch_color2{
	background-color: rgb(216, 195, 165);
}
.swatch_color3{
	background-color: rgb(142, 141, 138);
}
.swatch_color4{
	background-color: rgb(233, 128, 116);
}
.swatch_color5{
	background-color: rgb(232, 90, 79);
}
.icon_styling{
	 width:50px;
	 height:50px;
}
.image_styling{
	width:100%;	
	height: auto;
}
.image_sample_styling{
	max-width: 250px;
	height: auto;
}
.image_product_styling{
	max-width: 70%;
	height:auto;

}
.image_sample_product_styling{
	max-width: 180%;
	height:auto;
}
.logo_styling{
	max-width:5rem;
	flex:1 1 auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:50%;
	padding-top:1rem;
	padding-bottom:1rem;
}
.logo_bar{
	border-style: solid;
}
.bigImage_styling{
	min-height:auto;
	min-width: 100%;

	width: auto;
	height:48rem;

	top:40%;
	left:10%;
}
/* flexbox layout code studied from Flexbox Tutorial by LearnWebCode
	"https://www.youtube.com/watch?v=k32voqQhODc"
*/
.center_text{
	text-align: center;
	font-size:0.8rem;
}
.style_text{
	text-decoration: underline;
	padding-top: 0.1rem;
}
.style_text_store{
	text-decoration: underline;
	margin-top: 2rem;
	padding-top: 0.1rem;
}
.sidebar-layout{
	max-width: 100%;
	background-color: #FFF;
	margin: 0 auto 0 auto;
	line-height: 1.65;
	padding:0px 50px;
	display: flex;
	justify-content: space-between;

}
.add_to_cart_button{
	background-color: white;
	font-weight: 400;
	text-align: center;
	padding:1rem 0;
	width:50%;
	border:0.5px solid orange;
}
.submit_button{
	text-rendering: auto;
	letter-spacing: normal;
	text-align: center;
}
.reset_button{
	text-rendering: auto;
	letter-spacing: normal;
	text-align: center;
}
/*Button studied from Typanus "https://tympanus.net/Development/CreativeButtons/"*/
.btn {
	border: none;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 60px;
	display: inline-block;
	margin: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.icon-cart:before {
	font-family: 'Font Awesome 5 Free';
	content: "\f07a";
    font-weight: 900;
}
.icon-search:before {
	font-family: 'Font Awesome 5 Free';
	content: "\f002";
    font-weight: 900;
}
.btn-3 {
	background: #E8DBB5;
	color: #fff;
}
.btn-3:hover {
	background: #DFD0A5;
}

.btn-3:active {
	background: #D1BD83;
	top: 2px;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 120%;
	width: 50px;
}
.btn-3a {
	padding: 15px 30px 15px 80px;
}

.btn-3a:before {
	background: #D1C08F;
}


.sendbtn {
	 display: inline-block;
	 background-color: #E8DBB5;
	 border: none;
	 color: #FFFFFF;
	 text-align: center;
	 font-size: 15px;
	 padding: 10px;
	 width: 120px;
	 transition: all 0.5s;
	 cursor: pointer;
	 margin: 5px;
	 margin-left: 35%;
	 margin-top: 10px;
}
.sendbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
    font-weight: 600;
	background-color: #E8DBB5;
}

.sendbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  background-color: #E8DBB5;
}

.sendbtn:hover span {
  padding-right: 25px;
}

.sendbtn:hover span:after {
  opacity: 1;
  right: 0;
}

/* -------------------------------------- */
/* flexbox code for Product page */
.section-layout{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}
.section-one{
	flex:1 1 25rem;
	margin: auto 50px 20px 50px;
	padding:20px 50px;
}
.section-two{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-three{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-four{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-five{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-six{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}


/* --------------------------------------  */
/* Star Rating CSS */
/* From "https://codepen.io/jamesbarnett/pen/vlpkh?__cf_chl_jschl_tk__=c59daf86b2f47935e2d06f78d1bea4892d43eee3-1592505633-0-AZRpOWedbwIEGYaeorh-Nt3VCUbewzeBdAxIQwZOJ-LYNo17WyML0mkPKJETl91D0pYh27AEAe49PRVSSbIcLK8b5LEbolV0a0jjDiNi39W8V4fgV_bE8XT7QLBzOlOwKj1IhhPbk55IDm3zAJPuUUshRgLtK7p0OnhakWo0sM3g9h1EWAJyyn8RzbG0rYabCixCeIN8TsIYBw-FQ65-Tjyuwu1ZnBFNeLMql7PvgKwgJOG3sZWXXpVT5HtVbsqWXdV5gPPrNmy0-Q-LHo_HUnzuvxVgsi73EOCmaGiNDkiN3ViSK6wVr9pYTRbKJPFhWx3iGqpfWHHz_PMK8Q35iX31EoN3VL4XUHqSbNJ7EImB&fbclid=IwAR2ZOUEFRqoiBdjNNmsyQ3KO1lwgZq-S3m8YO3teOHwu5lLJBCm-s9UCqXc" */

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/*  Code for the review button */

.review_container{
    display:block;
    white-space: pre-wrap;
}

/* -------------------------------------- */
.codeExplanation{
	text-align:center;
	margin: 20px auto 20px auto;
}

.frameworkSize{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:80%;
	height:40%
}
.product button:hover{
	opacity:0.7;
}

/* -------------------------------------- */
@media(max-width: 30em){
	.container-box{
	width:100%;	
	}
}
@media(min-width: 30em){
	.container-box{
	width:20%;	
	}
}
