/* 

Code studied from the IAT 339 Flexbox Tutorial
"https://www.youtube.com/watch?v=Xff_eGOU_Ls&feature=youtu.be"

*/

*, *::after, *::before{
	box-sizing: border-box;
}
body{
	margin:0 10%;
}
pre{
	tab-size:2;
	white-space: pre-wrap;
}
button{
	font:inherit;
	margin:0;
}
header::after{
	content:'';
	display: table;
	clear:both;
}
div{
	display: block;
}
.map_responsive{
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.map_responsive iframe{
	left: 0;
	top: 0;
	height: 100%;
	width:100%;
	position: absolute;
}
.topNav{
	background-color: white;
	overflow:hidden;
	float:right;
	color:black;
	text-decoration: none;
	font-size: 1.2rem;
	font-family: "Raleway",sans-serif;
	margin-top: 2rem;
}
.bottomNav{
	background-color: #EAE7DC;
	left:0;
	bottom: 0;
	width: 100%;
	color:black;
	text-align: center;

	flex-shrink: 0;
	margin-top: auto;
}
.div_coantainer_color{
	background-color: rgb(219, 222, 191);
}
.heading_layout{
	padding-bottom: 0.5rem;
	border-bottom: 0.5px solid black;
	color:#orange;
}
.div_main{
	margin:0 2rem 0 2rem;
	padding-bottom: 1rem;
	border-bottom: 0.5px solid black);
}
.div_heading{
	color:orange;
}
.div_preview{
	margin:1rem 1rem 1rem 1rem;
}
.div_container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;

	flex:1 1 15rem;
}
.main_container{
	max-width: 1400px;
	margin:40px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: flex-start;
}
.main_box{
	flex: 1;
}
.main_manu_box{
	width:25%;
}
.main_box_img1{
	padding-top: 4rem;
	padding-left: 13rem;
}
.main_box_img2{
	padding-top: 4rem;
	padding-left: 8rem;
}
.main_store_box{
	width:33%;
	height:auto;
}
.main_box_aboutUs1{
	flex:3;
	margin-right: 2rem;
}
.main_box_aboutUs2{
	margin-top: 4rem;
	margin-left: 2rem;
	flex:1;
}
.main_container_contact{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}
.main_container_contact p{
	margin-top: 1rem;
}
.main_box_contact{
	flex:1;
}
.main_icon{
	cursor:pointer;
}

/* Codes for the text box style 1 */
.form_container{
	text-align: center;
	margin:0 20%;
}
.form_row{
	padding-bottom: 2rem;
	display:flex;
	min-height: 5rem;
}
.form_row label{

}
.form_row input{
	flex:1;
}
.form_input{
	height:20rem;
}

/* Codes for the text box sample 2 */

.exampletag{
	margin-left: 40px;
	font-family: 'Noto Serif', sans-serif,Serif !important;
	display: block;
	text-align: -webkit-match-parent;
	list-style-type: circle;
}
#contactpage{
	overflow: hidden;
	display: table;
	list-style-type: circle;
}


.home_nav_background{
	background-color: gray;
}
.home_nav_container{
	background-color: #EAE7DC;
	left:50%;
	display:inline-block;
	position: absolute;
	transform: translateX(-50%);
	border-radius: 50px;
}
.home_nav_container ul{
	margin:0;
	padding:0 60px;
	list-style-type: none;
	position: relative;
	display: flex;
	flex:1 1 auto;
}
.home_nav_container ul li:not(last-child){
	margin-right: 100px;
}
.home_nav_container ul li{
	padding:10px;
	border: 1px solid transparent;
	transition:background 0.2s;
	border-radius: 5px;
}
..home_nav_container ul li a{
	color:#fff;
	text-transform: capitalize;
	text-decoration: none;
	transition: color 0.2s;
}
.home_nav_container ul li ul{
	background-color: #EAE7DC;
	position: absolute;
	border-radius: 5px;
	display: block;
	margin:12px -12px;
	padding:0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}
.home_nav_container ul li ul li{
	width:calc(100% - 20px);
	margin: -2px 0 0 -2px;
	line-height: 1.2;
}
.home_nav_container ul li ul li a{
	background:#EAE7DC;
}
.home_nav_container ul li:hover a{
	color: #fff;
}
.home_nav_container ul li:hover ul{
	box-shadow: 0px 3px 5px 2px #EAE7DC;
	visibility: visible;
	opacity: 1;
}
.home_nav_container ul li:hover ul li a{
	color: #fff;
}


/* This css code is studied from Kevin Powell
"https://www.youtube.com/watch?v=FEmysQARWFU"
*/

.code_sample{
	tab-size:2;
}
.list_style{
	list-style: none;
}
.swatch-block{
	flex:1 1 15rem;
}
.list-swatch{
	padding:0 0;
	border:1px solid black;
	margin:1rem;
}
.swatch_preview{
	height:3rem;
	max-width: 100%;
}
.swatch_detail{
	list-style: none;
	font-size: 1rem;
	padding: 0 0 0 0.5rem;
}
.button_preview{
	margin:2rem 0;
}
.button_styling{
	color:black;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.field_preview{
	margin:2rem 0;
}
.grid_layout{
	flex:0 0 auto;
}
.grid_preview{
	height:10rem;
	background-color: rgb(234, 231, 220);
	border: 1px solid black;
	min-width: 15rem;
	margin-bottom: 2rem;
}

/* 

Code studied from the IAT 339 Flexbox Tutorial
"https://www.youtube.com/watch?v=Xff_eGOU_Ls&feature=youtu.be"

*/

.font_type1{
	font-family: 'Noto Serif', 'Open Sans', 'sans-serif';
	font-size: 1.2rem;
}
.font_type2{
	font-family: 'Raleway', 'Open Sans', 'sans-serif';
	font-size: 1rem;
}
.font_type3{
	font-family: 'Source Sans Pro', 'Open Sans', 'sans-serif';
	font-size: 1rem;
}
.swatch_color1{
	background-color: rgb(234, 231, 220);
}
.swatch_color2{
	background-color: rgb(216, 195, 165);
}
.swatch_color3{
	background-color: rgb(142, 141, 138);
}
.swatch_color4{
	background-color: rgb(233, 128, 116);
}
.swatch_color5{
	background-color: rgb(232, 90, 79);
}
.icon_styling{
	 width:50px;
	 height:50px;
}
.image_styling{
	width:100%;	
	height: auto;
}
.image_sample_styling{
	max-width: 250px;
	height: auto;
}
.image_product_styling{
	max-width: 70%;
	height:auto;

}
.image_sample_product_styling{
	max-width: 180%;
	height:auto;
}
.logo_styling{
	max-width:5rem;
	flex:1 1 auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:50%;
	padding-top:1rem;
	padding-bottom:1rem;
}
.logo_bar{
	border-style: solid;
}
.bigImage_styling{
	min-height:auto;
	min-width: 100%;

	width: auto;
	height:48rem;

	top:40%;
	left:10%;
}
/* flexbox layout code studied from Flexbox Tutorial by LearnWebCode
	"https://www.youtube.com/watch?v=k32voqQhODc"
*/
.center_text{
	text-align: center;
	font-size:0.8rem;
}
.style_text{
	text-decoration: underline;
	padding-top: 0.1rem;
}
.style_text_store{
	text-decoration: underline;
	margin-top: 2rem;
	padding-top: 0.1rem;
}
.sidebar-layout{
	max-width: 100%;
	background-color: #FFF;
	margin: 0 auto 0 auto;
	line-height: 1.65;
	padding:0px 50px;
	display: flex;
	justify-content: space-between;

}
.add_to_cart_button{
	background-color: white;
	font-weight: 400;
	text-align: center;
	padding:1rem 0;
	width:50%;
	border:0.5px solid orange;
}
.submit_button{
	text-rendering: auto;
	letter-spacing: normal;
	text-align: center;
}
.reset_button{
	text-rendering: auto;
	letter-spacing: normal;
	text-align: center;
}
/* -------------------------------------- */
/* flexbox code for Product page */
.section-layout{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}
.section-one{
	flex:1 1 25rem;
	margin: auto 50px 20px 50px;
	padding:20px 50px;
}
.section-two{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-three{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-four{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-five{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
.section-six{
	flex:1 1 25rem;
	padding:20px 50px;
	margin: auto 50px 20px 50px;
}
/* -------------------------------------- */
.codeExplanation{
	text-align:center;
	margin: 20px auto 20px auto;
}

.frameworkSize{
	display:block;
	margin-left:auto;
	margin-right: auto;
	width:80%;
	height:40%
}
.product button:hover{
	opacity:0.7;
}

/* -------------------------------------- */
@media(max-width: 30em){
	.container-box{
	width:100%;	
	}
}
@media(min-width: 30em){
	.container-box{
	width:20%;	
	}
}
